extends layout

block head
    script(src='/scripts/review.js')

block content
    .reviews
        each review in reviews
          div(class = 'w3-bar w3-black')
            button(type = "button", class="w3-bar-item w3-button", onclick="openReview(review)") review
        each review in reviews
          div(id = review, class = 'review')
            .review(id=review.id)
                table#criteria
                    tr
                        th Description
                        th Total Points
                        th Comments
                        th Score
                    each criteria in review.rubric
                        tr
                            td
                                p=criteria.description
                                p=criteria.longDescription
                            td=criteria.totalPoints
                            td
                                input(type="text", class="criteriaMessage", value=criteria.message || "")
                            td
                                input(type="number", class="criteriaScore", value=criteria.score || 0)

                a(href=review.downloadLink) Download
                p Notes
                input(type="text", class="message", value=review.message || "")
                input(type="submit", class="submitReview", value="Submit")
